@model GestionQR.Models.EncuestaSatisfaccion1

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar opcion</h2>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente, "Selecciona tu nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pregunta1, "¿Como calificas nuestro servicio?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pregunta1", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pregunta1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pregunta2, "Atencion prestada oportuna y a tiempo:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pregunta2", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pregunta2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pregunta3, "Horarios de atencion adecuada y respetuosa:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pregunta3", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pregunta3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pregunta4, "Respuesta inmediata a las dudas:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pregunta4", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pregunta4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pregunta5, "Comportamiento del personal en una imagen de honestidad y confianza:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pregunta5", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pregunta5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pregunta6, "Resolucion de las dudas presentadas:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pregunta6", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pregunta6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
