@model GestionQR.Models.Usuarios_reclamaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuarios_reclamaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario_reclamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_reclamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Reclamacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Reclamacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Reclamacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Reclamacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombres_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombres_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamentos.encargado_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamentos.encargado_departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto1.Tipo_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto1.Tipo_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol1.Descripcion_Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol1.Descripcion_Rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
