@model IEnumerable<GestionQR.Models.Usuarios_reclamaciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar usuarios con acceso a modificar las reclamos</h2>

<p>
    @Html.ActionLink("Agregar usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Usuarios
        </th>
        <th>
            Claves
        </th>
        <th>
            Departamento
        </th>
        <th>
            Puesto
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_reclamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.Nombre_departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puesto1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol1.Descripcion_Rol)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
