@model IEnumerable<GestionQR.Models.Usuarios_reclamaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_reclamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Reclamacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Reclamacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombres_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamentos.encargado_departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado1.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto1.Tipo_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puesto1.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol1.Descripcion_Rol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_reclamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Reclamacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Reclamacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombres_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.encargado_departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto1.Tipo_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puesto1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol1.Descripcion_Rol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
