@model GestionQR.Models.Reclamaciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reclamaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Reclamacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Reclamacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Reclamacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Reclamacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento_Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento_Respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios_Reclamaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios_Reclamaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombres_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombres_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamentos.encargado_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamentos.encargado_departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Tipo_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Tipo_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_reclamacion1.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_reclamacion1.Descripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios_reclamaciones.Usuario_reclamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios_reclamaciones.Usuario_reclamo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
