@model IEnumerable<GestionQR.Models.Reclamaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_Reclamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento_Reclamacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encargado_Reclamacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Reclamacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Reclamacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento_Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios_Reclamaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_reclamacion1.Descripción)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_Reclamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento_Reclamacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encargado_Reclamacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Reclamacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Reclamacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios_Reclamaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_reclamacion1.Descripción)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
