@model IEnumerable<GestionQR.Models.Quejas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar quejas existentes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombres_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamentos.Nombre_departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Tipo_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_quejas1.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios_quejas.Usuario_quejas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Queja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Queja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento_Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios_Queja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombres_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.Nombre_departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Tipo_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_quejas1.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios_quejas.Usuario_quejas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Queja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Queja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios_Queja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
