@model IEnumerable<GestionQR.Models.Quejas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar quejas existentes</h2>

<p>
    @Html.ActionLink("Agregar Queja", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Departamento
        </th>
        <th>
            Producto
        </th>
        <th>
            Queja
        </th>
        <th>
            Usuario en atencion
        </th>
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>
        <th>
            Respuesta del departamento
        </th>
        <th>
            Fecha respuesta
        </th>
        <th>
            Comentarios
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombres_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.Nombre_departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Tipo_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_quejas1.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios_quejas.Usuario_quejas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Queja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Queja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios_Queja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
