@model IEnumerable<GestionQR.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar productos</h2>

<p>
    @Html.ActionLink("Agregar producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Producto
        </th>
        <th>
            Fecha de entrega
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Ortogamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
