@model GestionQR.Models.Gestor_usuarios_quejas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gestor_usuarios_quejas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quejas.Departamento_Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quejas.Departamento_Respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quejas1.Departamento_Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quejas1.Departamento_Respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios_quejas.Usuario_quejas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios_quejas.Usuario_quejas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol1.Descripcion_Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol1.Descripcion_Rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
